* {
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: 'Want Coffe';
    src: url('../resources/WantCoffee.ttf') format('truetype');
}

.navBar {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 70px;
    background-color: #CA1214;
}

.searchBar {
    margin: auto 0;
    margin-left: 15px;
    display: inline-block;
    grid-column: span 1;
}

#sansitoMaps {
    margin: auto 0;
    text-align: center;
    display: inline-block;
    font-size: 40px;
    font-family:'Want Coffe', sans-serif;
    color: #F9CE3A;
    grid-column: span 1;
}

#userAccess {
    margin: auto 0;
    width: 70px;
    height: 70px;
    background: none;
    justify-self: end;
    border: none;
    font-size: 40px;
    cursor: pointer;
}


#searchText {
    padding: 5px;
    height: 30px;
    border: none;
    background-color: #b30f12;
    border-radius: 0.5em;
    font-size: 15px;
    font-weight: bold;
}

#searchText::placeholder {
    color: rgb(214, 214, 214);
}

.searchBar > button {
    width: 20px;
    height: 20px;
    color: white;
    background: none;
    justify-self: end;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.searchBar > button > i {
    font-size: 18px;
}

.buttons > button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 0.5em;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}

.buttons {
    margin-left: 50px;
    height: 30px;
    margin: auto 0;
    margin-right: 20px;
    justify-self: right;
}

#bLog {
    background-color: #F9CE3A;
    cursor: pointer;
    transition: .5s;
}

#bLog:hover {
    background-color: #e4bc3a;
}

#bReg {
    background-color: #2F2F35;
    color: white;
    width: 130px;
    cursor: pointer;
    transition: .5s;
}

#bReg:hover {
    background-color: #494952;
}