#categoriasBtn {
    padding: 1px 1px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #barraLateral {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
  }
  
  #barraLateral.activo {
    left: 0;
  }
  
  #barraLateral ul {
    list-style: none;
    padding: 0;
  }
  
  #barraLateral li {
    padding: 15px;
    color: white;
    cursor: pointer;
  }