.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: red;
}

#search-input {
  border: 1px yellow;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 20px;
}

nav {
  background-color: #f2f2f2;
  padding: 10px;
  display: none;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 10px;
}

.menu li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 3px;
}

.menu li a:hover {
  background-color: #333;
  color: #fff;
}

  .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .product {
    width: 250px;
    margin: 10px;
    border: solid 2px gainsboro;
    text-align: center;
    border-radius: 2px;
  }
  
  .product-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }
  
  .product-image img {
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }
  
  .product-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-rating {
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 20px;
  }
  