a{
    border: 1px solid #99972e; 
    padding: 10px; 
    background-color: #99972e; 
    color: #000000; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 10px;
}